<h1>Making pandas dataframe

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_html('http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [3]:
df.columns = ['PostalCode', 'Borough', 'Neighborhood']
df_filtered = df.loc[df['Borough'] != 'Not assigned', :]
df_filtered.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

In [36]:
def merge_func(d):
    merged = pd.DataFrame(columns=d.columns)
    merged = merged.append({'PostalCode': d.iloc[0,0], 
                   'Borough': d.iloc[0,1], 
                   'Neighborhood': ','.join(d['Neighborhood'])}, ignore_index=True)
    return merged
    
df_merged = df_filtered.groupby('PostalCode').apply(merge_func).reset_index(drop=True)

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                      Rouge,Malvern
1          M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2          M1E  Scarborough                    Guildwood,Morningside,West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101        M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [63]:
# Processing Neighborhood with 'Not assgined'
df_merged.loc[df_merged['Neighborhood'] == 'Not assigned', 'Neighborhood'] = df_merged['Borough']

In [64]:
df_merged.shape

(103, 3)