<h1>Making pandas dataframe

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_html('http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [7]:
df.columns = ['PostalCode', 'Borough', 'Neighborhood']
df_filtered = df.loc[df['Borough'] != 'Not assigned', :]
df_filtered.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

In [8]:
def merge_func(d):
    merged = pd.DataFrame(columns=d.columns)
    merged = merged.append({'PostalCode': d.iloc[0,0], 
                   'Borough': d.iloc[0,1], 
                   'Neighborhood': ','.join(d['Neighborhood'])}, ignore_index=True)
    return merged
    
df_merged = df_filtered.groupby('PostalCode').apply(merge_func).reset_index(drop=True)

In [9]:
# Processing Neighborhood with 'Not assgined'
df_merged.loc[df_merged['Neighborhood'] == 'Not assigned', 'Neighborhood'] = df_merged['Borough']

In [10]:
df_merged.shape

(103, 3)

<h1>Adding Coordinates

In [11]:
df_coords = pd.read_csv('https://cocl.us/Geospatial_data')
df_coords.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [35]:
df_coords.rename(columns={'Postal Code':'PostalCode'}, inplace=True)

df_merged_coords = pd.merge(df_merged, df_coords)
df_merged_coords

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village,Martin Grove Gardens,Richvie...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054